<ng-container *ngIf="data.results">
	<div class="center">
		<p>il y a {{data.results['opensearch:totalResults']}} résultats</p>
		<ul>
			<li *ngFor="let artist of data.results.artistmatches.artist">
				<span class="name">{{artist.name}}           </span>
				<span class="lien"><a href="{{artist.url}}">lien            </a></span>
				<span class="image"><img src="{{artist.image[2]['#text']}}"></span>
			</li>
			<!-- <p *ngFor="let artist of data.results.artistmatches.artist">{{artist.name}}</p> -->
		</ul>
	</div>
</ng-container>

