<!-- input field to request artist -->
<div class="center">
  <label>Who are you looking for :
    <input [(ngModel)]="artistRequested" placeholder="Artist">
    <button (click)="sendRequest()">Search</button> 
    

    <p *ngIf="!artistRequested">{{message}}</p>



  </label>
</div>



