<h1>{{title}}</h1>



<!-- display artists name 
<ng-container *ngFor="let artist of data?.results.artistmatches.artist">{{artist.name}}</ng-container>
-->

<app-inputfield></app-inputfield>

<!-- call the artist app -->
<app-artist-displayer></app-artist-displayer>

